<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="insert/head.html :: head"> </head>
<body class="bad">
<header th:insert="insert/header.html :: header"> </header>
<div class="meContainer">
    <div class="info_for_guest">
        <div class="blockInformation">
            <div class="blockMasters">
                <div class="sort_navigation">
                    <div class="sort">
                        <h2 th:text="#{filter.procedures}"></h2>
                        <form th:action="@{/allProcedures}" method="get" th:object="${filter}">
                            <label class="containerSort"><400
                                <input type="radio" name="filter" value="a"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="containerSort">400-600
                                <input type="radio" name="filter"  value="b"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="containerSort">>600
                                <input type="radio"  name="filter" value="c"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="containerSort" >
                                <span th:text="#{procedure.all}" th:remove="tag">title</span>
                                <input type="radio" name="filter" value="d"/>
                                <span class="checkmark"></span>
                            </label>
                            <input class="myButton" type="submit" th:value="#{filter}"/>
                        </form>
                    </div>
                </div>
                <div class="masters_items" style="overflow-y:scroll; height:450px;">

                        <th:block th:each="procedure : ${procedures}">

                        <div class="feature">

                            <div class="featureNameSurname">
                                <div class="feature-title">
                                    <h2 th:text="#{'procedure.'+${procedure.getTitle()}}"></h2>
                                </div>
                                <div class="feature-title">
                                    <p th:utext="${procedure.getPrice()}">${procedureThis.price}</p>
                                </div>
                            </div>

                        </div>
                        </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
